---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className = '', ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');

// Define the default classes for HeaderLink
const defaultClasses = "focus-visible:shadow-outline-theme text-md text-slate-bold hover:text-theme-600 flex rounded-full py-2 transition focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-theme-500 focus-visible:ring-offset-2 lg:px-3";
---

<a
    href={href}
    class:list={[defaultClasses, className, { active: isActive }]}
    {...props}
>
    <slot />
</a>
